[COMMON]

### Git
git-user-full-name      = John Dole
git-user-email          = jdole@example.com

### Timezone & Locale
timezone                = Canada/Eastern
locale                  = en_US.UTF-8

### User & Group
admin-user              = jdole
admin-pass              = pass4jdole
admin-group             = admin

### Security
ssh-disable-root        = YES
ssh-enable-password     = YES
ssh-port                = 12034
ssh-key-path            = ~/.ssh/id_rsa.pub


### Server name
hostname                = example-generic

### Python
python-version          = 3.4

[VPNSERVER]
vpn-domain              = example.com
passphrase              = seekretphrase

primary-port            = 1194
primary-proto           = udp

secondary-port          = 443
secondary-proto         = tcp
