[COMMON]

# Git
git-user-full-name      = John Dole
git-user-email          = jdole@example.com

# Timezone & Locale
timezone                = Canada/Eastern
locale                  = en_US.UTF-8

# User & Group
admin-user              = jdole
admin-pass              = pass4jdole
admin-groups            = admin

# Security
ssh-disable-root        = YES
ssh-enable-password     = YES
ssh-port                = 12034
ssh-key-path            = ~/.ssh/id_rsa.pub

# Server name
hostname                = example-cache

# Python
# python-version        = 3.4

# Swap
# swap-size             = 512

# Shared github/bitbucket read-only keys
# shared-key-path       = ~/.ssh/shared/ssh

# SSL certificate (https://example.com)
# certificate-path      = ~/.ssh/certificates/

[CACHESERVER]
redis-address           = 192.168.141.111
redis-port              = 6379
