[COMMON]

### Git
git-user-full-name      = John Dole
git-user-email          = jdole@example.com

### Timezone & Locale
timezone                = Canada/Eastern
locale                  = en_US.UTF-8

### User & Group
admin-user              = jdole
admin-pass              = pass4jdole
admin-group             = admin

### Security
ssh-disable-root        = YES
ssh-enable-password     = YES
ssh-port                = 11011
ssh-key-path            = ~/.ssh/id_rsa.pub

### Server name
hostname                = example-lb

### Python
#python-version          = 3.4

### Swap
#swap-size              = 512

### Shared github/bitbucket read-only keys
#shared-key-path         = ~/.ssh/shared/ssh

### SSL certificate (https://example.com)
#certificate-path        = ~/.ssh/certificates/

[WEBSERVER]

### Private Web Servers - Proxy forward request to
web-private-ips         = 192.168.111.111, 192.168.111.222
private-port            = 8181
domain-name             = example.com
