[COMMON]

### Git
git-user-full-name      = John Dole
git-user-email          = jdole@example.com

### Timezone & Locale
timezone                = Canada/Eastern
locale                  = en_US.UTF-8

### User & Group
admin-user              = jdole
admin-pass              = pass4jdole
admin-group             = admin

### Security
ssh-disable-root        = YES
ssh-enable-password     = YES
ssh-port                = 11011
ssh-key-path            = ~/.ssh/id_rsa.pub


### Server name
hostname                = example-generic

### Python
python-version          = 3.4

### Swap
#swap-size              = 512

### Shared github/bitbucket read-only keys
#shared-key-path         = ~/.ssh/shared/ssh

[WEBSERVER]
upstream-address        = 192.168.111.111
upstream-port           = 8181
domain-name             = example.com
webserver               = gunicorn
webserver-port          = 8181
domain-name             = simplyfound.com


[DBSERVER]
pg-version              = 9.6
pgis-version            = 2.2
db-host                 = db-host
db-port                 = 5432
#pg-version             = 9.6
#pgis-version           = 2.2
#listen-address         = *
#pg-data-dir            = /data/postgresql
postgres-admin          = postgres
postgres-pass           = pass4postgres
postgres-sys-pass       = pass4postgres



[CACHESERVER]
cache-host:             = cache-host
listen-address          = 192.168.141.111
redis-address           = 192.168.141.111
redis-port              = 6379
