[COMMON]

# Git
git-user-full-name      = John Dole
git-user-email          = jdole@example.com

# Timezone & Locale
timezone                = Canada/Eastern
locale                  = en_US.UTF-8

# User & Group
admin-user              = jdole
admin-pass              = pass4jdole
admin-groups            = admin

# Security
ssh-disable-root        = YES
ssh-enable-password     = YES
ssh-port                = 12034
ssh-key-path            = ~/.ssh/id_rsa.pub

# Shared github/bitbucket read-only keys
# shared-key-path       = ~/.ssh/shared/ssh

# Server name
hostname                = example-db

[DBSERVER]
# pg-version            = 9.6
# pgis-version          = 2.2
# listen-address        = *
# pg-data-dir           = /data/postgresql
postgres-admin          = postgres
postgres-pass           = pass4postgres
postgres-sys-pass       = pass4postgres
